*.elc
*~
.DS_Store
/.emacs.desktop*
/.mc-lists.el
/.org-id-locations
/.places
/.yas-compiled-snippets.el
/ac-comphist.dat
/auto-save-list
/backups
/bookmarks
/elpa
/emms
/session.*
/swank
/tramp
/url/cache
/url/cookies
/eshell/history
/eshell/lastdir
