[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git://github.com/mooz/js2-mode
[submodule "site-lisp/fill-column-indicator"]
	path = site-lisp/fill-column-indicator
	url = git://github.com/alpaker/Fill-Column-Indicator.git
[submodule "site-lisp/browse-kill-ring"]
	path = site-lisp/browse-kill-ring
	url = git://github.com/T-J-Teru/browse-kill-ring.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "site-lisp/ido-ubiquitous"]
	path = site-lisp/ido-ubiquitous
	url = git://github.com/DarwinAwardWinner/ido-ubiquitous.git
[submodule "site-lisp/znc"]
	path = site-lisp/znc
	url = git://github.com/sshirokov/ZNC.el.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = git://github.com/magnars/s.el.git
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = git://github.com/magnars/dash.el.git
[submodule "site-lisp/js2-refactor"]
	path = site-lisp/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/buster-snippets"]
	path = site-lisp/buster-snippets
	url = git://github.com/magnars/buster-snippets.el.git
[submodule "site-lisp/buster-mode"]
	path = site-lisp/buster-mode
	url = git://github.com/magnars/buster-mode.git
[submodule "site-lisp/tagedit"]
	path = site-lisp/tagedit
	url = https://github.com/magnars/tagedit.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/bbdb"]
	path = site-lisp/bbdb
	url = git://git.savannah.nongnu.org/bbdb.git
[submodule "site-lisp/pylookup"]
	path = site-lisp/pylookup
	url = http://github.com/tsgates/pylookup.git
[submodule "site-lisp/calfw"]
	path = site-lisp/calfw
	url = git://github.com/kiwanami/emacs-calfw.git
[submodule "site-lisp/elpy"]
	path = site-lisp/elpy
	url = git://github.com/jorgenschaefer/elpy.git
[submodule "site-lisp/emacs-jabber"]
	path = site-lisp/emacs-jabber
	url = git://github.com/coroa/emacs-jabber.git
